USE [ADM_Tool]
GO
/****** Object:  Table [dbo].[Ticketart]    Script Date: 24.10.2020 23:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticketart](
	[Art] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
